
body {
  font-family: 'Trebuchet MS', 'arial', 'helvetica', 'Open Sans', sans-serif;
}

.font-verdana {
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}

.text-blue {
  color:#277AB8
}

.text-blue-dark {
  color:rgb(0,49,87);
}

.text-hover-orange:hover {
  color: rgb(213,145,24);
}

.menu-toggle {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.menu-toggle .bar {
  width: 25px;
  height: 3px;
  background-color: #277AB8;
  margin: 2px 0;
}

.btn-primary {
  background-color:#277AB8;
  border-color: #277AB8;

}

#blink {
  transition: opacity 0.5s ease
}

footer {
  background-image: url("../images/bZHaxa6GIfPd.html");
}
